<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Erro inesperado</title>
    </head>
    <body>
        <p>Erro inesperado ao processar requisição!</p>
    </body>
</html>